/* 全体のレイアウト */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: red; /* フッターの赤色 */
  color: white; /* フッター内文字色 */
  text-align: center; /* 中央揃え */
  padding: 10px 0;
  box-sizing: border-box;
}

.footer-top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  padding: 10px;
}

.company-info img {
  max-width: 80px;
  height: auto;
}

.company-info h3 {
  margin: 5px 0 0;
  font-size: 16px;
}

.footer-column h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 3px 0;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-middle {
  margin: 10px 0;
}

.footer-middle .social-icon {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-middle .social-icon:hover {
  text-decoration: underline;
}

.footer-bottom {
  font-size: 10px;
  padding: 0 10px;
  line-height: 1.4;
  word-wrap: break-word;
  text-align: center;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  footer {
    height: auto;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-bottom {
    font-size: 8px;
  }
}

/* SNSボタンスタイル */
.snsbtniti {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
}

ul.snsbtniti {
  padding: 0!important;
  list-style-type: none!important;
  display: flex;
  justify-content: center;
}

.snsbtniti li {
  text-align: center!important;
  margin: 0 5px;
}

.flowbtn {
  font-family: 'Noto Sans Japanese', sans-serif;
  display: inline-block;
  width: 45px;
  height: 40px;
  font-size: 20px;
  border-radius: 4px;
  color: #fff!important;
  transition: .3s;
  text-decoration: none;
  box-shadow: 0 1px 2px #999;
  margin-bottom: 10px;
}

.flowbtn i {
  position: relative;
  top: 3px;
  font-size: 20px;
}

.flowbtn div {
  font-size: 8px;
  font-weight: bold;
}

.flowbtn:hover {
  transform: translateY(-3px);
  text-decoration: none;
  cursor: pointer;
}

.my_x1 {
  background: #000;
}

.my_instagram1 {
  background: linear-gradient(45deg, rgba(254,212,117,1) 0%, rgba(229,61,93,1) 50%, rgba(194,49,134,1) 70%, rgba(156,56,187,1) 100%);
}

.my_facebook1 {
  background: #1877f2;
}

.my_youtube1 {
  background: #da1725;
}

.my_tiktok1 {
  background: #000;
}

.my_line1 {
  background: #00b900;
}

.my_linkedin1 {
  background: #0a66c2;
}
